{% extends "base.html" %}

{% block title %}Dashboard - SpotiClean{% endblock %}

{% block content %}
<div class="container mt-5"> <!-- Adicionei a classe container aqui -->
    <div class="user-info d-flex align-items-center">
        <img src="{{ user_image }}" alt="User Image" class="user-img img-fluid rounded-circle">
        <div class="user-welcome ms-3">
            <p class="welcome-text text-light">Bem-vindo</p> <!-- Adicionada classe text-light -->
            <p class="user-name fs-3 text-light">{{ user_name }}</p> <!-- Adicionada classe text-light -->
        </div>
    </div>

    <div class="dashboard-content mt-4">
        <h1 class="text-center mb-4">Dashboard</h1> 
        <p class="dashboard-description text-light">Gerencie suas playlists e músicas curtidas a partir do seu painel.</p> <!-- Adicionada classe text-light -->
        
        <div class="dashboard-button-container mt-4">
            <h3 class="text-center mb-4">Ações Rápidas</h3> <!-- Adicionada classe text-light -->
            <a href="{{ url_for('create_playlist') }}" class="btn btn-primary">Criar Playlist</a>
            <a href="{{ url_for('view_playlists') }}" class="btn btn-primary">Ver Playlists</a>
            <a href="{{ url_for('liked_tracks') }}" class="btn btn-primary">Músicas Curtidas</a>
        </div>
    </div>
</div>
{% endblock %}
