{% extends "base.html" %}

{% block title %}SpotiClean - Home{% endblock %}

{% block content %}
<main class="container mt-5 pt-5">
    <section class="welcome-section text-center mb-5 p-5 bg-dark rounded shadow">
        <h1 class="text-center mb-4 text-success"><i class="fab fa-spotify mr-2"></i>SpotiClean</h1>
        <p class="lead text-light">Sua plataforma para gerenciar playlists de forma simples e eficiente.</p>
        
        <p class="text-light mt-4">
            O SpotiClean permite que você organize suas playlists do Spotify de maneira prática e rápida.<br>
            Para isso, precisamos de acesso à sua conta.<br>
            Isso nos permitirá listar suas músicas, criar novas playlists, e remover<br>
            aquelas que você não quer mais ouvir.<br><br>
            <strong>Fique tranquilo, seus dados estão seguros conosco.</strong>
        </p>

        <a href="{{ url_for('login') }}" class="btn btn-success btn-lg mt-4" aria-label="Login com Spotify">
            <strong>Login com Spotify</strong>
        </a>
    </section>

    <section class="features-section text-center mb-5 text-light">
        <h2 class="mb-4">Recursos</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <i class="fas fa-music fa-3x mb-3 text-info"></i>
                <p><strong>Gerenciamento:</strong> Adicione e remova músicas facilmente.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-list-ul fa-3x mb-3 text-primary"></i>
                <p><strong>Organização:</strong> Crie playlists personalizadas em cliques.</p>
            </div>
            <div class="col-md-4">
                <i class="fas fa-desktop fa-3x mb-3 text-warning"></i>
                <p><strong>Interface:</strong> Navegação intuitiva para todos.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}